<h1>face vs nickname</h1>
<div>
  <% if (session[:id].nil?) %>
    <%= link_to(image_tag("var-popupwindow-window.gif"), "auth/facebook") %>
  <% else %>
    <%= link_to "Editar", :action=>"edit" %>
    <%= link_to "Logout", :action=>"logout" %>
  <% end %>
</div>
<div id="content-master">
<div class="content"></div>
<div id="results" class="content nav-container" style="float:left" >
	<%= render(:partial => "user", :collection => @users) %> 
</div>
<div class="content"></div>
</div>
<%= will_paginate(@users) %> <%= pageless(@users.total_pages, '/users/') %>
<br/>

