<h1>face vs nickname</h1>
<div>
  <% if (session[:id].nil?) %>
    <%= link_to(image_tag("var-popupwindow-window.gif"), "auth/facebook") %>
  <% else %>
    <%= link_to "Editar", :action=>"edit" %>
    <%= link_to "Logout", :action=>"logout" %>
  <% end %>
<div>

<div class="nav-container">
<% @users.each do |user| %>

			<div class="nav-button <%= cycle("", "alternate", :name => "row_class") -%>">
				<img  style="margin-left:-3px" alt="<%= user.name %>_picture" src="<%= user.picture %>">
				<h2><%= user.nick  %></h2>
				<p>Also knowns as <%= user.name %>
				<a class="view-profile" href="http://www.facebook.com/profile.php?id=<%= user.uid %>">visit profile</a>
			</div>
<% end %>
</div>
