<!DOCTYPE html>
<html>
<head>
  <title>FIRC</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "jquery.pageless.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content-master">
    <div class="content">
      <div>
        <%= link_to(image_tag("logo.png", :size => "156x156", :alt=> "mIRC Rio-Preto"), "http://www.facebook.com/groups/mircriopreto") %>
        <% if (session[:id].nil?) %>
          <p>Sign-in with</p>
          <%= link_to(image_tag("var-popupwindow-window.gif", "Login"), "auth/facebook") %>
        <% else %>
          <p>Hello, <%= @user.name %> !</p>
          <%= link_to "Edit", :action=>"edit" %>
          <%= link_to "Logout", :action=>"logout" %>
        <% end %>
          <br />
          <br />
          <%= render(:partial => "search") %>
	  <br />
          <br />
          <h3>
		Por quê?
          </h3>
          <p> 

Temos uma lista de organizações de nicks no grupo, unico problema é que lá, não conseguios ver a foto/profile da pessoa. Então, a idéia dessa simple app é: listar o nome com fotos e links para o perfil. Idéias, Sugestões são bem vindas (((: seeya!

         </p>
      </div>
  </div>

  <%= yield %>

  <div class="content">
    <p>Total users: <%= @totalusers %></p>
    <p>Ugly? <%= link_to "See MVP", "http://en.wikipedia.org/wiki/Minimum_viable_product" %> or</p>
    <p>fork it on <%= link_to "Github", "http://github.com/FelipeZini/fIRC" %></p>
    <p>Development by <%= link_to "Lithium--", "http://about.me/FelipeZini" %> and <%= link_to "O'MaDMiNd", "http://about.me/LuizFreneda" %></p> 
    <p>Built with Ruby On Rails</p>
    <br />
    <br />
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=226193220755732&amp;xfbml=1"></script><fb:like href="http://firc.heroku.com" send="false" width="250" show_faces="true" font="lucida grande"></fb:like>

   </div>
  </div>
</body>
</html>
